
html {
  // 10px div by def of 16px
  font-size: 62.5%;
  font-family: $font-main;
}

//region colors
* {
  color: $clr-dark;
}

i.fa-bars,
.copyrights {
  color: $clr-primary;
}

label,
.button,
.btn-signup,
.btn-submit {
  color: $clr-light;
}

//endregion

// region font families
a,
p,
li,
body,
label,
button,
.hero-content__text,
.hero-content__headline,
.formData__label,
.navbar__link,
.formData[data-error]::after {
  font-family: $font-main;
}

.footer,
.copyrights,
.text-control,
.checkbox-label,
.checkbox2-label {
  font-family: $font-alt;
}

// endregion

//region font sizes
.footer,
.copyrights,
.formData[data-error]::after {
  @include font-size($font-size-xs);
}

.button,
.navbar__link,
.checkbox-label,
.checkbox2-label,
.hero-content__text {
  @include font-size($font-size-s);
}

label,
i.fa-bars,
.btn-submit,
.btn-signup,
.formData__label {
  @include font-size($font-size-m);
}

.text-control {
  @include font-size($font-size-l);

}

h1,
.hero-content__headline {
  @include font-size($font-size-xl);
}

// endregion

// region font weight
button,
.btn-submit,
.btn-signup,
.navbar__link,
.hero-content__headline {
  font-weight: $font-bold;
}

label,
.text-control,
.checkbox-label,
.checkbox2-label,
.hero-content__text,
.formData[data-error]::after {
  font-weight: $font-light;
}

//endregion

// Todo Je ne sais pas a quoi ca correspond
//.smFont {
//	font-size: 16px;
//}
//.custom-select {
//  font-family: Arial, sans-serif;
//  font-size: 1.1rem;
//  font-weight: normal;
//}

.formData[data-error]::after {
  line-height: 0.3;
}

h1 {
  line-height: 130%;
  letter-spacing: 0.8px;
}

.formData__label {
  text-align: justify;
}


.btn-signup {
  text-transform: capitalize;
}

.navbar__link {
  letter-spacing: 1.2px;
}