@mixin font-size($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: $font-size;
    } @else {
      @media screen and (min-width: $breakpoint) {
        font-size: $font-size;
      }
    }
  }
}


@mixin background-component($padding-inline: 30px, $color: $clr-primary) {
  border: none;
  color: $clr-light;
  padding-inline: $padding-inline;
  padding-block: 0.6em;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  @if $color == "hover" {
    &:hover {
      background-color: $clr-primary;
    }
  } @else {
    background-color: $clr-primary;
    &:hover {
      background-color: #3876ac;
    }
  }
}


