//:root {
//	--font-default: "DM Sans", Arial, Helvetica, sans-serif;

//	--modal-duration: 0.8s;
//}
//region Breakpoints
$breakpoint-mobile-sm: null;
$breakpoint-mobile-m: 501px;
$breakpoint-tablet-sm: 640px;
$breakpoint-tablet-m: 860px;
$breakpoint-desktop: 1024px;
//endregion

$layout-marges : 25px 30px 28px;

//region Colors
$clr-primary: rgb(254, 20, 47);
$clr-primary--alt: rgb(255, 0, 27);
$clr-dark: #000000;
$clr-dark--alt: #232323;
$clr-light: #FFFFFF;
//endregion


//region Font Properties
//region Font family
$font-main: "DM Sans", Arial, Helvetica, sans-serif;
;
$font-alt: Roboto, Arial, sans-serif;
//endregion

//region Font Weight
$font-light: 400;
$font-bold: 600;
//endregion


//region Font size mapped
// font xs
$font-size-xs: (
        $breakpoint-mobile-sm: 1rem,
        $breakpoint-mobile-m: 1.3rem,
        $breakpoint-tablet-sm: 1.4rem,
        $breakpoint-tablet-m: 1.5rem,
        $breakpoint-desktop: 1.6rem
);
// font s
$font-size-s: (
        $breakpoint-mobile-sm: 1.2rem,
        $breakpoint-mobile-m: 1.5rem,
        $breakpoint-tablet-sm: 1.6rem,
        $breakpoint-tablet-m: 1.7rem,
        $breakpoint-desktop: 1.8rem
);

// font m
$font-size-m: (
        $breakpoint-mobile-sm: 1.5em,
        $breakpoint-mobile-m: 1.8rem,
        $breakpoint-tablet-sm: 2em,
        $breakpoint-tablet-m: 2.2rem,
        $breakpoint-desktop: 2.4rem
);
// font l
$font-size-l: (
        $breakpoint-mobile-sm: 1.6,
        $breakpoint-mobile-m: 1.9rem,
        $breakpoint-tablet-sm: 2.2rem,
        $breakpoint-tablet-m: 2.3rem,
        $breakpoint-desktop: 2.5rem
);
// font xl
$font-size-xl: (
        $breakpoint-mobile-sm: 3.6rem,
        $breakpoint-mobile-m: 5.2rem,
        $breakpoint-tablet-sm: 6.4rem,
        $breakpoint-tablet-m: 8.2rem,
        $breakpoint-desktop: 9.6rem
);
//endregion
//endregion
