.topnav {
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  position: relative;
  z-index: 10;

  &__logo {
    float: left;

    img {
      width: min(25vw, 350px);
    }
  }

  &__navbar {
    margin-top: 45px;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: flex-end;
  }

  .navbar__link {
    // hide links
    display: none;
    // hover links
    &--active, {
      @include background-component(15px);
      //link-text
      span {
        text-decoration: underline;
        color: $clr-light;
        text-underline-offset: 5px;
      }
    }

    &.openNav {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &[data-responsive='true'] {
    position: relative;

    .navbar__link {
      display: block;

      &.openNav {
        order: -1;
      }
    }
  }

  @media screen and (min-width: 750px) {

    .navbar__link {
      display: block;
      float: none;
      text-align: left;

      &.openNav {
        display: none;
      }
    }

  }
}
